<% content_for :top_content do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to @event.title, event_path(@event) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Teams", event_teams_path(@event) %>
    </li>
    <li class="breadcrumb-item active">New</li>
  </ol>

  <div class="panel panel-default col-12 ">
    <div class="panel-heading">
      <h2>Create new team</h2>
    </div>

    <hr>

    <div class="panel-body col-6">
      <%= render 'shared/errors', object: @team %>

      <%= form_for [@event, @team] do |t| %>
        <div class="form-group">
          <%= t.label :title %>
          <%= t.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= t.label :description %>
          <%= t.text_area :description, class: 'form-control' %>
        </div>
        <div class="btn-group-justified">
          <%= t.submit "Create", class: 'btn btn-primary' %>
          <%= link_to "Back", :back,  class: "btn btn-outline-danger"  %>
        </div>

      <% end %>
    </div>

  </div>
<% end %>
