<h2>Edit <%= resource_name.to_s.humanize  %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <span class="label label-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
  <% end %>

  <div class="form-group">
    <%= f.label :password, 'new password' %> <small class="text-muted">(leave blank if you don't want to change it)</small>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'new password confirmation' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> 
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    <small class="text-muted">(we need your current password to confirm your changes)</small>
  </div>

  <%= f.submit "Update", class: 'btn btn-primary' %>
<% end %>


<hr>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>

<%= link_to "Back", :back %>
