<% content_for :top_content do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to @event.title, event_path(@event) %>
    </li>
    <li class="breadcrumb-item active">
      Requirements
    </li>
  </ol>
  <div class="row">
    <div class="col-12">
      <div class="panel panel-default">
        <% if @requirements.empty? %>
          <h1>Requirements of <%= @event.title %> </h1>
          <hr>
          <div class="jumbotron">
            <h3>No Requirements found </h3>
            <% if can? :create, Requirement %>
              <p>Start creating shift requirements here</p>
              <%= link_to 'Create new requirements', new_event_requirement_path(event_id: @event),class: 'btn btn-primary' %>
            <% end %>
          </div>

        <% else %>
        <div class="panel-heading">
          <h1>Requirements</h1>
        </div>
          <div class="panel-body">
            <%= link_to 'Create New Requirements', new_event_requirement_path(event_id: @event), class: 'btn btn-primary' %>
            <%= react_component('SchedulerViewer', {resources: @resources, events: @events, eventDate: @event[:start_date].strftime('%Y-%m-%d %H:%M:%S')}) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% end %>