<% content_for :top_content do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to @event.title, event_path(@event) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Back to events listing", event_requirements_path(@event) %>
    </li>
    <li class="breadcrumb-item active">
      New
    </li>
  </ol>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Create new requirement</h2>
    </div>

    <hr>

    <div class="panel-body">
      <%= render 'shared/errors', object: @requirement %>

      <%= form_for [@event, @requirement] do |r| %>
       <div class="form-group col-md-6">
          <%= r.label :shift  %>
          <%= collection_select(:requirement, :shift_id, Shift.where(event_id: @event.id), :id, :shift_name, {:prompt=> true},  {class: 'form-control'}) %>
        </div>
        <div class="form-group col-md-6">
          <%= r.label :team  %>
          <%= collection_select(:requirement, :team_id,  Team.where(event_id: @event.id), :id, :title, {:prompt=> true}, {class: 'form-control'} ) %>
        </div>
        <div class="form-group col-md-6">
          <%= r.label :mandatory  %>
          <%= r.number_field :mandatory, class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
          <%= r.label :optional  %>
          <%= r.number_field :optional, class: 'form-control' %>
        </div>
        <div class="col-md-6">
          <%= r.submit "Create", class: 'btn btn-primary' %>
          <%= link_to "Back to events listing", event_requirements_path(@event), class: "btn btn-outline-danger" %>
        </div>
      <% end %>
    </div>

  </div>

<% end %>