<% content_for :top_content do %>
<div class="panel panel-default col-6">
  <div class="panel-heading"><h2>Edit <%= @event.title %></h2></div>
  <div class="panel-body col-6">
    <%= render 'shared/errors', object: @event %>
  </div>

  <%= form_for @event do |f| %>
  <div class="form-group">
    <%= f.label :title %> <%= f.text_field :title, class:
    'form-control',required: true %>
  </div>
  <div class="form-group">
    <%= f.label :start_date %> <%= f.date_field :start_date,
    class:'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :end_date%> <%= f.date_field :end_date, class:
    'form-control',required: true%>
  </div>
  <div class="btn-group-justified">
    <%= f.submit "Update", class: 'btn btn-primary' %> <%= link_to "Back to
    events listing", events_path, class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
<% end %>
