<% content_for :top_content do %>
  <div class="jumbotron col-md-12">
    <h1> Events page</h1>
    <p> When user is authenticated, this page becomes root </p>
    <p> Here, a user can choose which event he wants to view </p>
    <% if can? :create, Event %>
      <%= link_to 'Created new event', new_event_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
  <hr>
  <div class="row">
    <% @events.each do |e| %>
      <div class="col-xl-4 col-sm-8 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-calendar"></i>
            </div>
            <div class="card-title"><h2><%= e.title %></h2></div>
            <div class="card-text">
              <span>From <%= e.start_date.strftime('%A %B %d') %> to <%= e.end_date.strftime('%A %B %d') %></span>
            </div>
            <div class="card-footer">
              <% if can? :edit, @events %>
                <%= link_to '<span >Edit</span>'.html_safe, edit_event_path(e), class: 'text-white card-link' %>
              <% end %>
              <%= link_to '<span class="float-right"> Go <i class="fa fa-angle-right"></i> </span>'.html_safe, e, class: 'text-white card-link' %>
            </div>

          </div>
        </div>
      </div>

    <% end %>
  </div>
<% end %>