<% content_for :top_content do %>
<div class="row">
  <h1 class="col-md-6"> Create a new event </h1>
</div>


<%= render 'shared/errors', object: @event %>

<%= form_for @event do |f| %>
  <div class="form-group col-md-6">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: 'form-control' %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :end_date%>
    <%= f.date_field :end_date, class: 'form-control'%>
  </div>
  <div class="col-md-6">
    <%= link_to "Back to events listing", events_path, class: "btn btn-outline-danger" %>
    <%= f.submit "Create", class: 'btn btn-primary' %>
  </div>

<% end %>

<% end %>
