<% content_for :top_content do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%=@event.title%>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>

  <div class="row">
    <div class="col-12">
      <h2><%= @event.title %> (<%= @event.start_date.strftime('%a %b %d %Y') %>
        - <%= @event.end_date.strftime('%a %b %d %Y') %>) </h2>
      <%= link_to "Back to events listing", events_path, class: "btn btn-primary" %>
    </div>
  </div>


<% end %>

