<% content_for :top_content do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to @event.title, event_path(@event) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Shifts ", event_shifts_path(@event) %>
    </li>
    <li class="breadcrumb-item active">
      New
    </li>
  </ol>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Create new shift</h2>
    </div>

    <br>

    <div class="panel-body">
      <%= render 'shared/errors', object: @shift %>

      <%= react_component('ShiftForm', {shift: @shift, event: @event}) %>
      <%= link_to "Back to Shifts ", event_shifts_path(@event), class: "btn btn-outline-danger" %>
    </div>
  </div>
<% end %>