<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="border">
    <h2>Log In</h2>
    <div class="form-group col-md-6">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-check">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </div>
    <% end -%>

    <div class="col-md-6">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>

<div class="form-group">
  <%= render "devise/shared/links" %>
</div>

