<% content_for :top_content do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      Admin
    </li>
    <li class="breadcrumb-item active">
      users
    </li>
  </ol>
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header">
          <h1><i class="fa fa-table"></i> Users </h1>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Birthday</th>
                <th>Email</th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |u| %>
              <tr>
                <td><%= u.first_name %> <%= u.last_name %></td>
                <td><%= u.number %></td>
                <td><%= u.birthday %></td>
                <td><%= u.email %></td>
              </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>