<% content_for :top_content do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to @event.title, event_path(@event) %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to 'Teams', event_teams_path(@event) %>
    </li>
    <li class="breadcrumb-item active">
      Application
    </li>
  </ol>
  <div class="row">
    <div class="col-12">
      <% if @teams_applications.empty? %>
        <h1>View teams application</h1>
        <hr>
        <div class="jumbotron">
          <p>No application has been submitted</p>
        </div>

      <% else %>
        <div class="card mb-3">
          <div class="card-header">
            <h1><i class="fa fa-table"></i> Teams Application </h1>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-dark">
                <tr>
                  <th>User</th>
                  <th>Team Chosen</th>
                  <th>Priority #</th>
                </tr>
                </thead>
                <tbody>
                <% @teams_applications.each do |t| %>
                  <tr>
                    <td><%= t.user.full_name %></td>
                    <td><%= t.team.title %></td>
                    <td><%= t.priority %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>