<% content_for :top_content do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <%= link_to @event.title, event_path(@event) %>
  </li>
    <li class="breadcrumb-item">
      <%= link_to 'Shifts', event_shifts_path(event_id: @event) %>
    </li>
    <li class="breadcrumb-item active">
      Availabilities
    </li>
  </ol>
  <div class="row">
    <div class="col-12">
      <% if @availabilities.empty? %>
        <h1>Availabilities</h1>
        <div class="jumbotron">
          <p>No Availabilities Submitted for this event</p>
          <%= link_to 'Return to shifts', event_shifts_path(event_id: @event), class: "btn btn-outline-danger" %>
        </div>
      <% else %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>Availabilities</h1>
          </div>
          <div class="panel-body">
            <div class="btn-group-justified mb-2">
              <%= link_to 'return to Shifts', event_shifts_path(event_id: @event), class: 'btn btn-outline-danger' %>
            </div>

            <%= react_component('SchedulerViewer', {resources: @resources, events: @events, eventDate: @event[:start_date].strftime('%Y-%m-%d %H:%M:%S')}) %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
<% end %>