<ul class="navbar-nav ml-auto">
<%= render 'shared/change_locale' %>
  <% if user_signed_in? %>
    <% if can? :manage, :admin %>
      <li class="nav-item mr-sm-2">
        <%= link_to "Admin", admin_root_path(), class: 'nav-link' %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to t('header.edit_account'), edit_user_registration_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to t("header.log_out_html"), destroy_user_session_path, method: :delete, class: 'nav-link' %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
    </li>
  <% end %>
</ul>