
<% if user_signed_in? %>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <%= @event.title %>
      </li>
      <li>
        <%= link_to '<i class="fa fa-tachometer"></i> Dashboard'.html_safe, @event %>
      </li>
      <li>
        <%= link_to '<i class="fa fa-users"></i> Teams'.html_safe, event_teams_path(@event) %>
      </li>
      <li>
        <%= link_to '<i class="fa fa-hourglass-start"></i> Shifts'.html_safe, event_shifts_path(@event) %>
      </li>
      <li>
        <%= link_to '<i class="fa fa-clipboard"></i> Requirements'.html_safe, event_requirements_path(@event) %>
      </li>
      <li>
        <a href="#"><i class="fa fa-wrench"></i> Schedule Tools</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-calendar"></i> Schedule</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-download"></i> Import/Export</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-bar-chart"></i> Stats</a>
      </li>
    </ul>
  </div>
<% end %>