<!DOCTYPE html>
<html>
  <head>
    <title>Volops</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

  </head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"> <%= link_to 'Volops', root_path, class: 'navbar-brand' %> </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <% if can? :access, :rails_admin %>
          <li class="nav-item">
            <%= link_to "Admin", rails_admin_path()%>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <span>Allo </span>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= current_user.first_name.capitalize %>
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"><%= link_to 'Edit Profile', edit_user_registration_path %></a>
            <a class="dropdown-item"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></a>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link"> <%= link_to 'Log In', new_user_session_path %> </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

 <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert">
      <%= value %>
    </div>
  <% end %>
</div>
  <%= yield %>
  <%= yield :top_content %>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</html>


